/**
 * Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com>
 **/

/*****----- Global Properties -----*****/
@import                          "shared/colors.rasi"
@import                          "shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       500px;
    x-offset:                    0px;
    y-offset:                    0px;
    margin:                      0px;
    padding:                     20px;
    border:                      2px solid;
    border-radius:               0px;
    border-color:                @background-alt;
    background-color:            @background;
    children:                    [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       10;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                false;
    fixed-columns:               true;
    spacing:                     4px;
    background-color:            transparent;
    text-color:                  @foreground;
}

element {
    enabled:                     true;
    padding:                     8px 10px;
    border-radius:               0px;
    background-color:            @background;
    text-color:                  @foreground;
}

element alternate.normal {
    background-color:            @background-alt;
    text-color:                  @foreground;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  @background;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
}
